[Unit]
Description=Miraclecast sink on default link
Requires=miracle-wifid.service
After=miracle-wifid.service

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 4
EnvironmentFile=/root/.miracle-sink.env
ExecStart=python3 /root/newmice.py ${ROOM_NAME}
ExecStopPost=-/usr/bin/cp /run/miracle/wifi/wlp0s20f3-3.conf /root/
User=root

[Install]
WantedBy=multi-user.target
Alias=miracle-sink.service
